@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    height: 377vh;
    position: relative;
    background-color:  #9B27B00D; 
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8); 
    background-color: #24262B;
}

.navbar-brand{
    width: 65px;
    transition: transform 0.3s ease;
    color: white;
}

.navbar-brand:hover{
    transform: scale(1.1);
    width: 65px;
    color: white;
}

.nav-link{
    color: white;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.nav-link:hover{
    color:gray;
    transform: scale(1.1);
}

.navbar-nav{
    margin-left: 85%;
    margin-right: 0px;
}

.fondo{
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    position: relative;
    filter: blur(0.1px);
}

.fondo-texto{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.cuerpo-texto {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    text-align: justify;
    flex-wrap: wrap;
}

/*Cuerpo del texto*/

.texto-desarrollo{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    padding: 30px;
    width:97%;
    border-radius: 10px;
    margin-bottom: 40px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    text-align: justify;
}

.texto-desarrollo h3{
    padding-bottom: 10px;
    border-bottom: solid 2px black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.texto-desarrollo ul{
    padding-left: 20px;
}

.texto-desarrollo li{
    list-style: square;
}

.texto-desarrollo p{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 115%;
    font-weight: 400;
}
a{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 115%;
    font-weight: 400;
}


.texto {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.texto:first-child {
    flex: 2; 
}

.texto:last-child {
    flex: 1;
}


.texto p{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 115%;
    font-weight: 400;
}

.texto h1{
    padding-bottom: 10px;
    border-bottom: solid 2px black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.texto h3{
    padding-bottom: 10px;
    border-bottom: solid 2px black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.texto img{
    height: auto; 
    width: 100%; 
    max-width: 200px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.texto-desarrollo iframe{
    display: block;
    margin: auto;
}


@media (max-width:901px) {
    body{
        height: 490vh;
    }
    .navbar-nav {
        margin-left: 0px;
    }
    .nav-link {
        padding-left: 20px;
    }
    .cuerpo-texto {
        flex-direction: column;
        align-items: center;
    }
    .texto {
        width: 100%;
        padding: 20px;
        margin: auto;
    }
    .texto p{
        font-size: 17px;
    }
    .texto-desarrollo{
        width: 100%;
        padding: 20px;
        overflow-wrap: break-word;
        font-size: 15px;
    }

    .texto-desarrollo iframe{
        width: 100%;
        height: 350px;
        border: 0;
    }
}