/*Base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

p{
    margin-bottom: 0px;
}

body{
    height: 150vh;
    position: relative;
    background-color: #cccccc;
}
/*Base*/

/*Parte del navbar*/
.navbar{
    background-color: #24262B;
}

.navbar-brand{
    width: 65px;
    transition: transform 0.3s ease;
}

.navbar-brand:hover{
    transform: scale(1.1);
    width: 67px;
}

.nav-link{
    color: white;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.nav-link:hover{
    color:gray;
    transform: scale(1.1);
}
/*Parte del navbar*/

/*Base de texto creo xd*/
.texto{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    padding: 30px;
    width:90%;
    border-radius: 10px;
    margin-bottom: 40px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    text-align: justify;
}

.texto p{
    font-family:"Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    font-size: 115%;
}

.texto h3{
    padding-bottom: 10px;
    border-bottom: solid 2px black;
}

/*Base de texto creo xd*/

.inicio {
    display: flex;
    align-items: flex-start;
}

.inicio img {
    width: 20%;
    height: 250px;
    margin:auto;
}

.inicio .texto-inicio {
    width: 70%;
}

.texto-inicio h3{
    padding-bottom: 10px;
    border-bottom: solid 2px black;
}

.texto-inicio ul{
    padding-left: 20px;
}

.texto-inicio li{
    list-style: square;
}

.texto-desarrollo{
    width: 85%;
}

.texto-desarrollo h3{
    margin-top: 10px;
}

.texto-desarrollo ul{
    padding-left: 20px;
}

.texto-desarrollo li{
    list-style: square;
}
/*Base de texto creo xd*/

/*Footer nomas*/
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
ol,ul{
    padding-left: 0px;
}

.footer{
    background-color: #24262B;
    padding: 80px 0;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li  p{
    font-size: 15px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li p:hover{
    color: #ffffff;
    padding-left: 6px;
}

.footer-links ul li  a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.footer-links img{
    width: 200px;
    height: 200px;
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}
/*Footer nomas*/

/*Media query (Responsivo)*/
@media (max-width:901px) {
    body{
        height: 250vh;
    }
    .nav-link{
        padding-left: 20px;
    }
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
    .fondo {
        height: 350px;
        background-size: cover;
    }
    .fondo-texto {
        font-size: 18px;
        left: 50%;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .fondo-texto h3{
        font-size: 30px;
    }
    .titulo{
        font-size: 45px;
    }
    .cuerpo-texto{
        padding: 0px;
    }
    .texto p{
        font-size: 15px;
    }
    .texto .texto-desarrollo {
        width: 100%;
        padding: 0px;
        overflow-wrap: break-word;
        font-size: 15px;
    }
    .inicio {
        flex-direction: column;
        align-items: center;
    }

    .inicio .texto-inicio {
        width: 100%;
    }

    .inicio img {
        width: 80%;
        margin-left: 0px;
        margin-top: 20px;
        margin: auto;
    }
}
/*Media query (Responsivo)*/