@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ol,ul{
    padding-left: 0;
}

a{
    color: white;
}

:root{
    --body-color:#9B27B00D;
    --sidebar-color: #24262B;
    --primary-color: #593196;
    --primary-color-light: #9B27B00D;
    --toogle-color:#DDDDDD;
    --text-color: #ffffff;

    --tran-03:all 0.2s ease;
    --tran-04:all 0.3s ease;
    --tran-05:all 0.4s ease;
}

body{
    height: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color:var(--sidebar-color);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color-light: #3a3b3C;
    --toogle-color: #FFFFFF;
    --text-color: #CCCCCC;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image, 
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text, 
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .logo{
    display: flex;
    flex-direction: column;
}
.name{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.profe{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 20%;
    right: 0px;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    width: 100%;
    top: 20%;
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
    display: none;
}

.sidebar li.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}

.mode .sun-moon i.sun{
    opacity: 0;
}

body.dark .mode .sun-moon i.sun{
    opacity: 1;
}

body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toogle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: "" !important;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}


body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute; 
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 20px;

}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text{
    color: var(--text-color);
}

body.dark .texto {
    background-color: var(--sidebar-color);
}

body.dark .reinicio{
    background-color: var(--sidebar-color);
}

body.dark .texto h3{
    color: var(--text-color);
    padding-bottom: 10px;
    border-bottom: solid 2px black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-bottom: solid 2px white;
}

.progress {
    flex-grow: 1;
    margin-bottom: 15px;
    height: 55px;
    margin: auto;
    width: 80%;
    gap: 5px;
    justify-content: space-between;
    background-color: #E6E6E7;
}

.progress span{
    color: black;
}

span {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    text-align: left;
}

.progress-bar {
    font-size: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 5px; 
    color: white;
} 

.bg-primary{
    background-color: #7858ec !important;
}

.bg-success{
    background-color: #B8AEE0 !important;
}

#progress-bar-success-dias{
    background-color: #9efbb8 !important;
}

.bg-warning{
    background-color: #FFDCE0 !important;
}

.bg-danger{
    background-color: #A3A5C3 !important;
}

.texto{
    margin: auto;
}


.titulo h3{
    margin: auto;
    text-align: center;
    color: #18191A;
    margin-bottom: 15px;
}

.reinicio{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    padding: 30px;
    width:45%;
    margin-left:35px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: white;
    text-align: justify;
}

.cuadro{
    margin: auto;
    width: 500px;
    height: 360px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border: 2px solid white;
    padding: 35px;
}

.formulario input{
    font-size: 17px;
    border-radius: 12px;
}

.formulario label{
    font-size: 18px;
}

.link{
    text-decoration: none;
}

.boton{
    color: white;
    background-color: #593196;
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 11%;
}

.mt-4{
    margin-top: 0px !important;
}

.form-label{
    padding-bottom: 10px;
    border-bottom: solid 2px black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.texto-modal{
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.boton:hover{
    background-color: #4c2a80;
}

.boton-cerrar{
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #17141f;
    border-color: #ccc;
    background-color: #fff;
    margin-left: 1%;
}

.boton-cerrar:hover{
    background-color: #a991d4;
}

.botones{
    margin-top: 20px;
    border-top: solid 2px #ccc;
    padding-top: 10px;
}


@media (max-width: 991px) {
    body{
        width: 100%;
        height: 100%;
    }
    .nav-link {
        padding-left: 0px; 
    }
    .sidebar {
        padding: 10px;
    }

    .sidebar.close {
        width: 75px;
        padding: 6px;
    }

    .sidebar .text {
        font-size: 15px;
        opacity: 1;
    }

    .sidebar.close .text {
        display: none;
    }

    .sidebar .icon {
        font-size: 20px;
    }
    li.navlink{
        padding: 2px;
    }
    .progress {
        width: 100%;
        height: 45px; 
        margin-bottom: 10px;
    }
    .progress-bar {
        font-size: 14px;
    }
    .texto {
        width: 100%;
        padding: 18px;
    }
    .reinicio{
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        padding: 18px;
    }
    .home{
        width: 100%;
    }
    .cuadro {
        width: 90%;
        height: 60%;
        padding: 20px;
    }
    .botones {
        flex-direction: column;
        align-items: center;
    }
    .boton, .boton-cerrar {
        width: 90%;
        margin-left: 15px;
    }
    .mt-4{
        font-size: 20px;
    }

    .texto-modal{
        font-size: 15px;
    }
}

