<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs-CIJ</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/CIJ.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/">
                <img class="navbar-brand" src="/img/logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="cuerpo">
        <div class="fondo">
        </div>
        <div class="cuerpo-texto">
            <div class="texto">
                <h1>¿Qué es el CIJ?</h1>
                <p>
                    Centros de Integración Juvenil (CIJ) es una institución dedicada a la prevención, tratamiento, rehabilitación, investigación científica y formación de especialistas en materia de consumo de drogas. <br>
                    Fundado en 1969, por Kena Moreno, junto a un grupo de mujeres decidieron abrir un Centro de Atención para Jóvenes Drogadictos, con el objetivo de atender el consumo de drogas en jóvenes.
                </p>
                <img src="/img/CIJ.jpeg" alt="Logo,CIJ" class="imagen">
            </div>
            <div class="texto">
                <h3>Mision:</h3>
                <p>
                    Promover la salud mental y la prevención de adicciones, a través de los servicios terapéuticos de los trastornos mentales y por consumo de sustancias, con criterios de equidad, igualdad y no discriminación, basados en el conocimiento científico y formando personal profesional especializado.
                </p>
                <h3>Vision:</h3>
                <p>
                    Otorgar servicios de calidad, con impacto universal, más accesibles y oportunos, con enfoque de género y de derechos humanos, en prevención, tratamiento, investigación y capacitación en materia de salud mental y adicciones a nivel nacional e internacional, en respuesta a las tendencias epidemiológicas existentes.
                </p>
        </div>
    </div>
    <footer class="footer">
        <div class="contenedor">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="/CIJ">CIJ</a></li>
                        <li><p>Centro de Atención Ciudadana <br>“La Línea de la Vida”.<br>01800 911 2000</p></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Nosotros</h4>
                    <ul>
                        <li><a href="#">Información</a></li>
                    </ul>
                </div>
                <Div class="footer-links">
                    <h4>Redes Sociales</h4>
                    <div class="social-links">
                        <a href="https://www.instagram.com/mydrugs_addiction?igsh=aThyanBtMHEwaXh4" target="_blank"> <i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/share/1AG9MrcwXR/" target="_blank"> <i class="fab fa-facebook-f"></i></a>
                    </div>
                </Div>
            </div>
        </div>
    </footer>
    <script src="/javascript/navbar.js"></script>
</body>
</html>