<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="/css/CIJ.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="/img/logo.png">
                MyDrugs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="cuerpo">
        <div class="fondo">
        </div>
        <div class="cuerpo-texto">
            <div class="texto">
                <h1>¿Qué es el CIJ?</h1>
                <p>
                    Centros de Integración Juvenil (CIJ) es una institución dedicada a la prevención, tratamiento, rehabilitación, investigación científica y formación de especialistas en materia de consumo de drogas. <br>
                    Fundado en 1969, por Kena Moreno, junto a un grupo de mujeres decidieron abrir un Centro de Atención para Jóvenes Drogadictos, con el objetivo de atender el consumo de drogas en jóvenes.
                    <br>
                    Para más información, puedes visitar su sitio web oficial: <a href="https://www.cij.gob.mx/" target="_blank">Centro de Integración Juvenil</a>.
                </p>
                <img src="/img/CIJ.jpeg" alt="Logo,CIJ" class="imagen">
            </div>
            <div class="texto">
                <h3>Mision:</h3>
                <p>
                    Promover la salud mental y la prevención de adicciones, a través de los servicios terapéuticos de los trastornos mentales y por consumo de sustancias, con criterios de equidad, igualdad y no discriminación, basados en el conocimiento científico y formando personal profesional especializado.
                </p>
                <h3>Vision:</h3>
                <p>
                    Otorgar servicios de calidad, con impacto universal, más accesibles y oportunos, con enfoque de género y de derechos humanos, en prevención, tratamiento, investigación y capacitación en materia de salud mental y adicciones a nivel nacional e internacional, en respuesta a las tendencias epidemiológicas existentes.
                </p>
            </div>
            <div class="texto-desarrollo">
                <h3>¿Qué ofrece el CIJ (Centro de Integración Juvenil)?</h3>
                <p>
                    Prevención: Programas educativos y campañas para reducir el consumo de sustancias en jóvenes. Tratamiento: Terapias individuales, familiares y grupales para personas con problemas de adicción. Rehabilitación: Apoyo para la reinserción social y laboral de quienes han superado una adicción. Investigación: Estudios sobre tendencias de consumo y estrategias de prevención. Capacitación: Formación de profesionales en salud mental y adicciones. Centros de apoyo: Unidades de hospitalización y atención especializada en todo el país.
                        <br>
                    Además, cuentan con la Línea de la Vida (01800 911 2000), un servicio de atención ciudadana para orientación y apoyo en temas de adicciones.
                </p>
            </div>
            <div class="texto-desarrollo">
                <h3>¿Donde se encuentran?</h3>
                <p>
                    Se encuentran a lo largo de todo México, en cada estado hay al menos un centro de Integración Juvenil. Estas son los estados y ciudades donde puedes encontrar un CIJ:
                    <ul>
                        <li><p>Chiapas: Tapachula, Tuxtla Gutiérrez</p></li>
                        <li><p>Ciudad de México: Varias alcaldías (Álvaro Obregón, Azcapotzalco, Benito Juárez, Coyoacán, Cuajimalpa, Cuauhtémoc, Gustavo A. Madero, Iztapalapa, Miguel Hidalgo, Tlalpan, Venustiano Carranza, Xochimilco)</p></li>
                        <li><p>Coahuila: Acuña, Saltillo, Torreón, Ramos Arizpe</p></li>
                        <li><p>Colima: Colima, Manzanillo, Tecomán</p></li>
                        <li><p>Durango: Durango, Lerdo</p></li>
                        <li><p>Estado de México: Atizapán de Zaragoza, Chalco, Ecatepec, Naucalpan, Nezahualcóyotl, Texcoco, Toluca, Villa Victoria</p></li>
                    </ul>
                </p>
                <p>
                    para más información sobre los centros y sus ubicaciones, puedes visitar el sitio web oficial del CIJ: <a href="https://www.cij.gob.mx/" target="_blank">Centro de Integración Juvenil</a>.
                    <br><br>
                    El más cercano a Cuautitlan Izcalli es el CIJ ubicado en Atizapán de Zaragoza, Estado de México. Aquí tienes la dirección y contacto:
                    <br><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120282.06977363615!2d-99.42557140273442!3d19.592438599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d21c0b5f305cc1%3A0xc3f246de75045e9a!2sCIJ%20Atizapan!5e0!3m2!1ses!2smx!4v1749017037303!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/mydrugs_addiction?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/CIJ">CIJ</a></li>
        </ul>
        <p>@2025 MyDrugs | All Rights Reserved</p>
    </footer>
    <script src="javascript/navbar.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>