<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs-Sobre-Nosotros</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/nosotros.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/">
                <img class="navbar-brand" src="/img/icondrugs-removebg-preview.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CIJ">CIJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="cuerpo-texto">
        <div class="texto">
            <h1>MyDrugs</h1>
            <div class="inicio">
                <div class="texto-inicio">
                    
                    <h3>¿Quienes somos?</h3>
                    <p>
                        Nosotros somos un equipo de 4 estudiantes del grupo 410, de la escuela preparatoria Cecytem. Nuestro equipo esta conformado por:
                        <ul>
                            <li><p>Bryan Alexis (Bryancat)</p></li>
                            <li><p>Juan Manuel (Juanma)</p></li>
                            <li><p>Ariadna Lizeth (Ari)</p></li>
                            <li><p>Renata (Ren)</p></li>
                        </ul>
                    </p>
                </div>
                <img src="/img/cat-ruffles.gif" alt="">
            </div>
            <div class="texto-desarrollo">
                <h3>¿Porque lo hacemos?</h3>
                <p>
                    Porque queremos conscientizar a los estudiantes sobre la prevencion de adicciones y cuidado personal, a traves de esta pagina web donde proporcionamos Información sobre ciertas sustancias, tips de cuidado personal, centros de ayuda profesional y un apartado donde podran tener un registro de tiempo sobrios sobre alguna sustancia, autolesiones u otro motivo, el cual quieran dejar tambien como una parte de apoyo estara un chat bot que les dara consejos y tips, sobre cuestiones que tengan.
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="contenedor">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><p>CIJ</p></li>
                        <li><p>Centro de Atención Ciudadana <br>“La Línea de la Vida”.<br>01800 911 2000</p></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Nosotros</h4>
                    <ul>
                        <li><a href="/Nosotros">Información</a></li>
                    </ul>
                </div>
                <Div class="footer-links">
                    <h4>Redes Sociales</h4>
                    <div class="social-links">
                        <a href="https://www.instagram.com/mydrugs_addiction?igsh=aThyanBtMHEwaXh4" target="_blank"> <i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/share/16Jc1o31Er/" target="_blank"> <i class="fab fa-facebook-f"></i></a>
                    </div>
                </Div>
            </div>
        </div>
    </footer>
    <script src="/javascript/navbar.js"></script>
</body>
</html>