<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer-contrase침a</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="/css/restablecer.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="/img/logo.png">
                MyDrugs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CIJ">CIJ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form action="/restablecer" method="post" class="formulario">
        <h2>Restablecer contrase침a</h2>
        <label for="email">Ingresa tu correo para restablecer la contrase침a</label>
        <input type="email" name="email" id="user_email" placeholder="*Correo electronico" required>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <div class="volver">
            <p><a href="/login">Iniciar sesi칩n</a></p>
        </div>
    </form>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">CIJ</a></li>
        </ul>
        <p>@2025 MyDrugs | All Rights Reserved</p>
    </footer>
<script src="/javascript/navbar.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>