<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs Tabaco</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/tipos-tabaco.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="/img/logo.png">
                MyDrugs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CIJ">CIJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="slider-box">
    <div class="texto-slider">
        <h1>Tabaco y Vapeadores</h1>
    </div>
    <ul>
        <li>
            <img src="/img/cvs.png" alt="">
        </li>
        <li>
            <img src="/img/vape2.jpg" alt="">
        </li>
        <li>y
            <img src="/img/vape3.jpg" alt="">
        </li>
        <li>
            <img src="/img/vape5.jpg" alt="">
        </li>
        <li>
            <img src="/img/vape4.jpg" alt="">
        </li>
    </ul>
</div>
<div class="cuerpo-texto">
    <div class="texto">
        <div class="inicio">
            <div class="texto-inicio">
                <h3>¿Qué es el tabaco?</h3>
                <p>
                    El tabaco proviene de plantas del género Nicotiana. Fue cultivado originalmente en América y jugó un papel importante en culturas indígenas.
                    Consumo: El consumo de tabaco se realiza mayormente fumando (cigarrillos y puros), masticando (tabaco de mascar) o inhalando (rapé).
                </p>
                <h3>Efectos en la Salud</h3>
                <p>
                    El tabaco contiene más de 7,000 sustancias químicas, muchas de las cuales son dañinas y pueden causar enfermedades graves como:
                    <ul>
                        <li><p>Cáncer de pulmón, boca y garganta.</p></li>
                        <li><p>Enfermedades cardiovasculares, como infarto y derrames cerebrales.</p></li>
                        <li><p>Enfermedades respiratorias, como bronquitis crónica y enfisema.</p></li>
                    </ul>
                </p>
            </div>
            <img src="/img/pulmon-cancer.jpg" alt="Cancer de pulmon">
        </div>
    </div>
    <div class="texto">
        <div class="texto-desarrollo">
            <h3>Impacto social y económico</h3>
            <p>
                A nivel mundial, el tabaco es una de las principales causas de muerte prevenibles.
                Su producción y consumo tienen costos significativos para los sistemas de salud, pero también generan ingresos por impuestos para muchos gobiernos.
                <br>
                <h3>Esfuerzos contra el tabaquismo</h3>            
                Campañas de concienciación global han reducido el consumo en muchas regiones.
                Muchas leyes prohíben fumar en espacios públicos para proteger a los no fumadores del humo de segunda mano.
            </p>
        </div>
    </div>
        <div class="texto">
            <dic class="inicio">
                <div class="texto-inicio">
                    <h3>¿Qué son los vapeadores?</h3>
                    <p>
                        Los vapeadores calientan un líquido, llamado e-líquido o jugo para vapear, que se convierte en vapor que los usuarios inhalan. Este líquido suele contener nicotina, propilenglicol, glicerina y sabores.
                    </p>
                    <h3>Efectos en la salud</h3>
                    <p>
                        Pueden ser menos dañinos que los cigarrillos tradicionales debido a la ausencia de combustión y algunas sustancias tóxicas presentes en el humo del tabaco.
                        Sin embargo, siguen representando riesgos para la salud, especialmente debido a la nicotina, que es altamente adictiva, y la posible exposición a otros químicos en el vapor.
                        Problemas conocidos:
                        <ul>
                            <li><p>Irritación en los pulmones y la garganta.</p></li>
                            <li><p>Riesgo de enfermedades respiratorias.</p></li>
                            <li><p>En adolescentes y jóvenes, el uso puede afectar el desarrollo cerebral debido a la nicotina.</p></li>
                        </ul>
                    </p>
                </div>
                <img src="/img/raio.jpg" alt="Vapeadores y sus daños">
            </dic>
        </div>
    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/CIJ">CIJ</a></li>
        </ul>
        <p>@2025 MyDrugs | All Rights Reserved</p>
    </footer>
<script src="/javascript/navbar.js"></script>
<script src="/javascript/texto.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>