<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs Marihuana</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/tipos-marihuana.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="/img/logo.png">
                MyDrugs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CIJ">CIJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="slider-box">
        <div class="texto-slider">
            <h1>Marihuana</h1>
        </div>
        <ul>
            <li>
                <img src="/img/Marihuana-cannabis.jpg" alt="">
            </li>
            <li>
                <img src="/img/marihuana.jpg" alt="">
            </li>
            <li>
                <img src="/img/marihuana2.jpg" alt="">
            </li>
            <li>
                <img src="/img/marihuana3.jpg" alt="">
            </li>
            <li>
                <img src="/img/Marihuana.jpeg" alt="">
            </li>
        </ul>
    </div>
        <div class="cuerpo-texto">
            <div class="texto">
                <div class="inicio">
                    <div class="texto-inicio">
                        <h3>¿Qué es la marihuana?</h3>
                        <p>
                        La marihuana es una mezcla verde, marrón o gris de partes desmenuzadas y secas de la planta de marihuana. La planta contiene sustancias químicas que actúan en el cerebro y pueden cambiar su estado de ánimo o conciencia.
                        </p>
                        <h3>Uso medicinal</h3>
                        <p>
                        La marihuana tiene propiedades analgésicas que pueden ayudar a mejorar la calidad de vida de enfermos terminales y personas con sufrimientos físicos o mentales, según el especialista Rodríguez Carranza. Él sugiere que podría desarrollarse el primer “medicamento antipadecer” basado en sus efectos específicos.
                        <br>
                        Por su parte, el doctor Gerhard Heinze indica que el 20% de quienes han consumido marihuana lo hacen por sus efectos analgésicos, tranquilizantes o estimulantes, los cuales les ayudan a sobrellevar dolores temporales o crónicos.
                        <br>
                        En países como Paises Bajos, Estados Unidos y Canadá, el consumo de marihuana está permitido con fines medicinales o recreativos. Diversos estudios destacan sus beneficios en la salud, entre ellos la reducción de presión intraocular en casos de glaucoma, el alivio de náuseas y vómito en pacientes en quimioterapia, el aumento del apetito en personas con VIH-SIDA, y sus efectos antiinflamatorios y antioxidantes.
                        </p>
                    </div>
                    <img src="/img/Marihuana-cannabis.jpg" alt="">
                </div>
            </div>
            <div class="texto">
                <div class="inicio">
                    <div class="texto-inicio">
                        <h3>¿Qué efectos ocasiona la Marihuana?</h3>
                        <p>
                            <ul>
                                <li><p>Cambio en el estado de ánimo percibido como agradable.</p></li>
                                <li><p>Euforia seguida de relajación o somnolencia.</p></li>
                                <li><p>Aumento de la ansiedad o paranoia.</p></li>
                                <li><p>Alteraciones de la percepción del tiempo y el espacio.</p></li>
                                <li><p>Despersonalización.</p></li>
                                <li><p>Poca concentración.</p></li>
                                <li><p>Deterioro de la atención.</p></li>
                                <li><p>Deterioro en la memoria de corto plazo.</p></li>
                                <li><p>Disminución en la capacidad de raciocinio.</p></li>
                                <li><p>Problemas en la coordinación motora y equilibrio.</p></li>
                                <li><p>Incremento en el apetito.</p></li>
                                <li><p>Sequedad en boca y garganta.</p></li>
                                <li><p>Enrojecimiento de los ojos.</p></li>
                            </ul>
                        </p>
                    </div>
                    <img src="img/aumento-cardiaca.jpg" alt="Aumento de presión cardíaca">
                </div>
                <div class="inicio">
                    <div class="texto-inicio">
                        <h3>Daños que ocasiona el consumo de Marihuana</h3>
                        <p>
                            <ul>
                                <li><p>Aumento del ritmo cardíaco.</p></li>
                                <li><p>Arritmia.</p></li>
                                <li><p>Infarto.</p></li>
                                <li><p>Ideación suicida.</p></li>
                                <li><p>Disfunción cardíaca.</p></li>
                                <li><p>Episodios psicóticos.</p></li>
                                <li><p>Pérdida de memoria.</p></li>
                                <li><p>Síndrome amotivacional.</p></li>
                                <li><p>Deficiendia inmunológica.</p></li>
                                <li><p>Enfermedad pulmonar obstructiva crónica (EPOC).</p></li>
                                <li><p>Cáncer pulmonar.</p></li>
                                <li><p>Disminución de la fertilidad.</p></li>
                                <li><p>Síndrome de abstinencia.</p></li>
                            </ul>
                        </p>
                    </div>
                    <img src="img/daños.jpg" alt="Daños provocados por el consumo de marihuana">
                </div>
            </div>
            <div class="texto">
                <div class="texto-desarrollo">
                    <h3>De que manera de consume la Marihuana <br>(Las acciones descritas no deben ser replicadas)</h3>
                    <p>
                    <br>
                    <b>Inhalación</b><br>
                    Con la inhalación conseguimos absorver los principios activos de la marihuana, y reducimos el efecto máximo a 15 minutos, y con una duración de 2-3 horas. <br>
                    Inhalar, podemos inhalar mediante el típico cigarro, o mediante vaporizadores, consiguiendo que inhalemos los principios activos pero sin absorber ciertas sustancias nocivas deribadas de la combustión.
                    <br>
                    <br><b>Ingestión</b><br>
                    Para ingerir el cannabis podemos hacer infusiones de marihuana con leche, no con agua, ya que los cannabinoides solo son solubles en aceite y no solubilizan en agua. <br>
                    También podemos fabricar nuestra propia mantequilla o añadiendolo a diferentes comidas como bizcochos, salsas, magdalenas, etc...
                    Los efectos en caso de ingestión se notarán a los 30-90 minutos, el efecto máximo se notará a las 2-3 horas y el efecto puede durar hasta 8 horas después de la administración.<br>
                    <br>
                    <b>Otros</b><br>
                    También encontramos maneras de utilizar el cannabis mediante masajes con aceites de marihuana, o concentrados de la marihuana
                    </p>
                    <h3>Referencias</h3>
                    <p>
                    De Salud Mental y Adicciones, C. N. (s.f.). Cannabis. gob.mx.<br> <a href="https://www.gob.mx/conasama/articulos/cannabis">https://www.gob.mx/conasama/articulos/cannabis</a> <br>National Library of Medicine. (s.f.). Marihuana.<br> <a href="https://medlineplus.gov/spanish/marijuana.html">https://medlineplus.gov/spanish/marijuana.html</a>
                    </p>
                </div>
            </div>
        </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/CIJ">CIJ</a></li>
        </ul>
        <p>@2025 MyDrugs | All Rights Reserved</p>
    </footer>
<script src="/javascript/navbar.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>