<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs Marihuana</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/tipos-centro.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="/img/logo.png">
                MyDrugs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CIJ">CIJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="slider-box">
        <div class="texto-slider">
            <h1>Centros de Ayuda</h1>
        </div>
        <ul>
            <li>
                <img src="/img/centros de ayuda-info.avif" alt="">
            </li>
            <li>
                <img src="/img/centro5.jpeg" alt="">
            </li>
            <li>
                <img src="/img/centro2.jpg" alt="">
            </li>
            <li>
                <img src="/img/centro3.jpg" alt="">
            </li>
            <li>
                <img src="/img/centro4.jpg" alt="">
            </li>
        </ul>
    </div>
        <div class="cuerpo-texto">
            <div class="texto">
                <div class="texto-desarrollo">
                    <h3>¿Qué es un Centro de Ayuda?</h3>
                    <p>
                        Aquí te presento algunos centros de ayuda y recursos disponibles en todo México para abordar problemas de drogas y adicciones. Estos centros ofrecen una variedad de servicios, incluyendo terapia, rehabilitación y apoyo para personas que luchan con el abuso de sustancias. Es importante buscar ayuda profesional si tú o alguien que conoces está enfrentando problemas relacionados con el consumo de drogas. <br><br>
                    </p>
                    <h3>Líneas de Ayuda Telefónica</h3>
                    <ul>
                        <li><p><strong>Centro de Atención Ciudadana contra las Adicciones (CECIADIC):</strong> 01 800 911 2000 (24 horas, 365 días al año)</p></li>
                        <li><p><strong>Consejo Ciudadano:</strong> 55 5533 5533</p></li>
                        <li><p><strong>Instituto para la Atención y Prevención de las Adicciones en la Ciudad de México (IAPA):</strong> 55 4631 3035 (extensiones 1002, 1201, 1203, 2001, 2003, 2005, 2006, 2007, 2008, 2009, 2011, 2101, 2102, 2110, 2112, 3101, 3102)</p></li>
                    </ul>
                </div>
            </div>
            <div class="texto">
                <div class="inicio">
                    <div class="texto-inicio">
                        <h3>Tipos de Centros de Ayuda</h3>
                        <p>Los centros de ayuda para el consumo de marihuana son instituciones diseñadas para brindar apoyo y tratamiento a personas que enfrentan problemas relacionados con el uso de esta sustancia. Estos centros ofrecen una variedad de servicios, incluyendo terapia individual y grupal, educación sobre los efectos del consumo, y programas de rehabilitación. Su objetivo es ayudar a las personas a superar la dependencia, mejorar su salud mental y física, y reintegrarse en la sociedad.
                        Centros de Tratamiento y Rehabilitación en Diferentes Estados: <br> <br>
                            <ul>
                                <li><p>Aguascalientes: Centro de Atención y Prevención de Adicciones (CAPA): 449 915 1515</p></li>
                                <li><p>Baja California: Centro de Integración Juvenil (CIJ) Tijuana: 664 623 3333</p></li>
                                <li><p>Ciudad de México:  Centro de Atención y Prevención de Adicciones (CAPA) Azcapotzalco: 55 5382 3333 <br>
                                Centro de Atención y Prevención de Adicciones (CAPA) Coyoacán: 55 5543 3333 </p></li>
                                <li><p>Guadalajara: Centro de Integración Juvenil (CIJ) Guadalajara: 33 3614 3333</p></li>
                                <li><p>Monterrey: Centro de Integración Juvenil (CIJ) Monterrey: 81 8347 3333</p></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="texto">
                <div class="texto-desarrollo">
                    <h3>Ubicacion de centros de rehabilitación</h3>
                    <p>
                        un centro de rehabilitación es una institución especializada en el tratamiento de personas con adicciones, incluyendo el consumo de marihuana. Estos centros ofrecen programas de desintoxicación, terapia individual y grupal, y apoyo continuo para ayudar a los pacientes a superar su dependencia. Los centros de rehabilitación pueden variar en enfoque y duración del tratamiento, pero todos comparten el objetivo común de ayudar a las personas a recuperar el control sobre sus vidas y su salud.
                        <br><br>
                        Aqui la ubicacion de algunos centros de rehabilitación en México cerca de ti:
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d419314.6827451499!2d-99.31767831834694!3d19.604714823678606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scentros%20de%20rehabilitaci%C3%B3n%20para%20drogadictos%20del%20gobierno!5e0!3m2!1ses!2smx!4v1749197746213!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </p>
                </div>
            </div>
        </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/CIJ">CIJ</a></li>
        </ul>
        <p>@2025 MyDrugs | All Rights Reserved</p>
    </footer>
<script src="/javascript/navbar.js"></script>
<script src="/javascript/texto.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>