<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs Cocaina</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/tipos-cocaina.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="img/logo.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="/img/logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CIJ">CIJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="slider-box">
        <div class="texto-slider">
            <h1>Cocaina</h1>
        </div>
        <ul>
            <li>
                <img src="/img/coca.jpg" alt="">
            </li>
            <li>
                <img src="/img/coca2.jpg" alt="">
            </li>
            <li>
                <img src="/img/coca3.jpg" alt="">
            </li>
            <li>
                <img src="/img/cocaina-info.jpg" alt="">
            </li>
            <li>
                <img src="/img/coca4.jpg" alt="">
            </li>
        </ul>
    </div>
    <div class="cuerpo-texto">
        <div class="texto">
            <div class="texto-desarrollo">
                <h3>¿Qué es?</h3>
                <p>
                    La cocaína es un alcaloide extraído de las hojas de coca, originaria de los Andes. Es un potente estimulante del sistema nervioso central y altamente adictivo. Se presenta comúnmente como un polvo blanco, pero también existe en forma de crack, que es cristalizado al ser calentado. A menudo, los traficantes la mezclan con otras sustancias para aumentar sus ganancias
                    La cocaína es una droga estimulante y adictiva elaborada con las hojas de la planta de coca, nativa de América del Sur, se vende en la calle tiene el aspecto de un polvo blanco fino cristalizado. A menudo, los vendedores callejeros la mezclan con sustancias como maicena, talco o harina para incrementar sus ganancias.
                    Los nombres comunes de la cocaína incluyen coca, crack, dama, piedra, nieve y Blancanieves, entre otros; en inglés se la llama:
                    <ul>
                    <li><p>blow</p></li>
                    <li><p>coke</p></li>
                    <li><p>crack</p></li>
                    <li><p>rock</p></li>
                    <li><p>snow</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="texto">
            <div class="inicio">
                <div class="texto-inicio">
                        <h3>¿Cómo se produce la cocaína?</h3>
                        <p>
                            La cocaína se elabora a partir de las hojas de coca, que crecen en América del Sur. Las hojas se trituran y se mezclan con solventes químicos para extraer la cocaína. Luego, el producto se purifica y se seca para obtener el polvo blanco que conocemos.
                        </p>
                        <br>
                        <h3>¿Cuáles son los tipos de cocaína?</h3>
                        <p>
                            Existen dos formas principales de cocaína: el clorhidrato de cocaína (en polvo) y el crack (forma cristalizada). El clorhidrato de cocaína es soluble en agua y se puede inyectar o inhalar. El crack, por otro lado, se fuma y produce un efecto más intenso y rápido.
                        </p>
                        <br>
                        <h3>¿Cómo se consume la cocaína?</h3>
                        <p>
                            Algunas personas aspiran el polvo de cocaína por la nariz o lo masajean en las encías. Otras lo disuelven y se lo inyectan en una vena. Hay quienes se inyectaXn una mezca de cocaïna y heroína conocida como “bola rápida” o speedball.
                        Las personas que consumen cocaína a menudo lo hacen en atracones, es decir, consumen la droga en forma repetida durante un período de tiempo breve y en dosis cada vez más altas para mantener el estado de euforia o “high”.
                        </p>
                </div>
            <img src="/img/coca5.jpg" alt="">
            </div>
        </div>
        <div class="texto">
            <div class="inicio">
                <div class="texto-inicio">
                    <h3>¿Qué efecto tiene la cocaína en el cerebro?</h3>
                    La cocaína aumenta los niveles de dopamina, normalmente, la dopamina se recicla nuevamente en la neurona de la cual salió, cancelando así la señal entre las neuronas. Sin embargo, la cocaína evita el reciclamiento de la dopamina, lo que genera la acumulación de grandes cantidades del neurotransmisor en el espacio que se encuentra entre dos neuronas, interrumpiendo así la comunicación normal entre ellas.
                    <br>             
                    <h3> Efectos a corto plazo</h3>
                    <h5>Los efectos a corto plazo del consumo de cocaína incluyen:</h5>
                        <ul>
                            <li><p>Eergía y felicidad extremas</p></li>
                            <li><p></p>Alerta mentale</p></li>
                            <li><p></p>Hipersensibilidad a la luz</p></li>
                            <li><p></p>El sonido y el tacto</p></li>
                            <li><p></p>Irritabilidad</p></li>
                            <li><p>Paranoia (desconfianza extrema e injustificada de los demás)</p></li>
                        </ul>
                    <br>
                </div>
            </div>
        </div>
        <div class="texto">
            <div class="texto-desarrollo">
                <p>
                    <h3>¿Qué otros efectos tiene la cocaína sobre la salud?</h3>
                    <ul>
                        <li><p>Restricción de los vasos sanguíneos</p></li>
                        <li><p>Dilatación de las pupilas</p></li>
                        <li><p>Náuseas</p></li>
                        <li><p>Aumento de la temperatura corporal y la presión arterial</p></li>
                        <li><p>Aceleración o irregularidad del ritmo cardíaco</p></li>
                        <li><p>Temblores y espasmos musculares</p></li>
                        <li><p>Inquietud o desasosiego</p></li>
                    </ul>
                    <br>
                    <h3>Efectos a largo plazo</h3>
                    <ul>
                        <li><p>Si se inhala: pérdida del olfato, hemorragias nasales, nariz con goteo frecuente y problemas para tragar</p></li>
                        <li><p>Si se fuma: tos, asma, dificultad para respirar y mayor riesgo de contraer enfermedades como la neumonía</p></li>
                        <li><p>Si se ingiere por la boca:marcado deterioro del intestino debido a la reducción del flujo de sangre</p></li>
                        <li><p>Si se inyecta con aguja:mayor riesgo de contraer el VIH, hepatitis C y otras enfermedades que se transmiten por la sangre; infecciones de la piel o de los tejidos blandos; cicatrices; colapso de las venas.</p></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/mydrugs_addiction?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/CIJ">CIJ</a></li>
        </ul>
        <p>@2025 MyDrugs | All Rights Reserved</p>
    </footer>
    <script src="/javascript/navbar.js"></script>
    <script src="/javascript/texto.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>