<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs Alcohol</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/tipos-alcohol.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" href="/img/logo.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="/img/logo.png">
                MyDrugs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CIJ">CIJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="slider-box">
        <div class="texto-slider">
            <h1>Alcohol</h1>
        </div>
        <ul>
            <li>
                <img src="/img/alcohol2.jpg" alt="">
            </li>
            <li>
                <img src="/img/alcohol.avif" alt="">
            </li>
            <li>
                <img src="/img/alcohol3.jpg" alt="">
            </li>
            <li>
                <img src="/img/alcohol1.jpg" alt="">
            </li>
            <li>
                <img src="/img/vape4.jpg" alt="">
            </li>
        </ul>
    </div>
        <div class="cuerpo-texto">
            <div class="texto">
                <div class="inicio">
                    <div class="texto-inicio">
                        <h3>¿Qué es el alcohol?</h3>
                        <p>
                            El alcohol es una de las drogas legales, esta es una droga que afecta al sistema nervioso, hace lento las funciones del cerebro, afecta la capacidad de autocontrol. El principal componente del alcohol es el Etanol o alcohol etílico, que tienen una concentración distinta conforme al tipo de bebida alcohólica. 
                        </p>
                        <br>
                        <p>
                            Las bebidas alcohólicas pueden ser:
                            <ul>
                                <li><p>
                                    Fermentadas: vino, cerveza y sida, estas bebidas tienen una graduación alcohólica en un promedio de 4º y 15º, estas generan una fermentación de sus azúcares.
                                </p></li>
                                <li><p>
                                    Destiladas: son aquellas que son destiladas de las bebidas fermentadas, que por lo general tiene mayor concentración de alcohol y rondan el promedio de graduación alcohólica entre 40º y 50º, estas bebidas son el ron, whisky, brandy, ginebra.
                                </p></li>
                            </ul>
                        </p>
                    </div>
                    <img src="img/alcohol-adiccion.jpg" alt="">
                </div>
            </div>
            <div class="texto">
                <div class="texto-desarrollo">
                    <h3>¿Qué ocasiona el consumo frecuente de alcohol?</h3>
                    <p>
                        El consumo frecuente de alcohol tiene muchas reacciones dentro de nuestro cuerpo, estos son los efectos más comunes del consumo frecuente de alcohol:
                    </p>
                    <p>
                        <ul>
                            <li><p>Somnolencia</p></li>
                            <li><p>Mala coordinación</p></li>
                            <li><p>Irritación del estómago</p></li>
                            <li><p>Afectación de la percepción de los sentidos</p></li>
                            <li><p>Confusión</p></li>
                            <li><p>Trastornos neurológicos</p></li>
                            <li><p>Cáncer (Colon, recto ,mama, laringe, hígado, esófago, cavidad oral y faringe)</p></li>
                            <li><p>Lesiones intencionales</p></li>
                            <li><p>Depresión</p></li>
                            <li><p>Incapacidad para reaccionar</p></li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="texto">
                <div class="texto-desarrollo">
                    <h3>¿Qué aspectos influyen en los efectos del alcohol?</h3>
                    <p>
                        Los efectos que puede ocasionar el alcohol también dependen de la cantidad consumida pero también existen otros aspectos que influyen en sus efectos, que pueden acelerar o agravar los efectos:
                    </p>
                    <p>
                        <ul>
                            <li><p>La edad: Los jóvenes son más sensibles a los efectos del alcohol, mientras tanto un adulto es más “resistente” a los efectos sedantes y a la descoordinación motora.</p></li>
                            <li><p>La comida: Si se come alimentos grasos, enlentece la intoxicación pero no evita ni reduce los daños.</p></li>
                            <li><p>La cantidad y la rapidez de consumo: La mayor cantidad de alcohol y a menor tiempo, incrementa la posibilidad de intoxicación.</p></li>
                            <li><p>La combinación con otras sustancias: si se consumen otras sustancias como drogas se potencian los efectos sedantes del alcohol. Cuando se combina con la <a href="/marihuana">marihuana</a> se incrementan los efectos de ambas sustancias </p></li>
                        </ul>
                    </p>
                    <h3>¿Qué le hace el alcohol al cuerpo?</h3>
                    <p>
                        El consumo de alcohol, incluso en pequeñas cantidades, puede afectar el equilibrio, la coordinación, la memoria y la toma de decisiones, aumentando el riesgo de lesiones. A largo plazo, beber en exceso eleva la posibilidad de desarrollar más de 200 enfermedades, incluyendo problemas hepáticos, pancreáticos y ciertos tipos de cáncer. Además, dado que las mujeres tienen menos agua en el cuerpo que los hombres, su concentración de alcohol en la sangre suele ser más alta tras consumir la misma cantidad, lo que puede intensificar sus efectos negativos.
                    </p>
                    <h3>Referencias</h3>
                    <p>
                        <a href="https://enfamilia.aeped.es/vida-sana/alcohol-que-es-cuales-son-sus-efectos">Alcohol: qué es y cuáles son sus efectos. (s. f.). EnFamilia.</a><br>
                        <a href="https://www.gob.mx/salud/articulos/conoces-los-efectos-en-tu-organismo-al-consumir-alcohol?idiom=es">De Salud, S. (s. f.). Conoces los efectos en tu organismo al consumir Alcohol?</a><br>
                        <a href="https://magazine.medlineplus.gov/es/art%C3%ADculo/efectos-del-alcohol-en-la-salud-lo-que-debe-saber/">Efectos del alcohol en la salud: lo que debe saber | NIH MedlinePlus Magazine. (s. f.). NIH MedlinePlus Magazine.</a>
                    </p>
                </div>
            </div>
        </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/mydrugs_addiction?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/CIJ">CIJ</a></li>
        </ul>
        <p>@2025 MyDrugs | All Rights Reserved</p>
    </footer>
    <script src="/javascript/navbar.js"></script>
    <script src="/javascript/texto.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>